<template>
  <div class="home">

    <h1 class="heading"> Disgust0mat 3000 </h1>

    <push-button></push-button>
  </div>
</template>

<script>
// @ is an alias to /src
import PushButton from '@/components/PushButton.vue'

export default {
  name: 'home',
  components: {
      PushButton
  }
}
</script>

<style>

  @import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

  body {
    font-family: 'ZCOOL KuaiLe', cursive;
  }

  .heading {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    color: #2c3e50;
    text-shadow: 2px 2px #c0392b;
    font-size: 42px;
  }

</style>