<template>
    <div class="push_button__wrapper">
        <button class="push_button" id="disgusting-button-1" @click="beDisgusting">Push me!</button>
    </div>
</template>

<script>
    import puke1 from './../media/vomiting-01.mp3'
    import puke2 from './../media/vomiting-03.mp3'
    import puke3 from './../media/vomiting-04.mp3'
    import puke4 from './../media/vomiting-06.mp3'

    export default {
        name: "PushButton",
        data() {
            return {}
        },
        methods: {
            beDisgusting() {

                let sound;
                let id = Math.floor(Math.random() * 4) + 1;

                switch (id) {
                    case 1:
                        sound = new Audio(puke1);
                        break;
                    case 2:
                        sound = new Audio(puke2);
                        break;
                    case 3:
                        sound = new Audio(puke3);
                        break;
                    case 4:
                        sound = new Audio(puke4);
                        break;
                    default:
                        sound = new Audio(puke1);
                }


                sound.play()
            }
        }
    }
</script>

<style scoped>

    .push_button__wrapper {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .push_button {
        position: relative;
        width: 200px;
        color: #FFF;
        display: block;
        text-decoration: none;
        margin: 0 auto;
        border-radius: 5px;
        border: solid 1px #D94E3B;
        background: #cb3b27;
        text-align: center;
        padding: 20px 30px;
        font-size: 25px;

        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        transition: all 0.1s;

        -webkit-box-shadow: 0px 9px 0px #84261a;
        -moz-box-shadow: 0px 9px 0px #84261a;
        box-shadow: 0px 9px 0px #84261a;
    }

    .push_button:active {
        -webkit-box-shadow: 0px 2px 0px #84261a;
        -moz-box-shadow: 0px 2px 0px #84261a;
        box-shadow: 0px 2px 0px #84261a;
        position: relative;
        top: 7px;
    }

</style>